In [21]:
import pandas as pd
import csv

In [22]:
df1 = pd.read_csv('/Users/renetanjuakio/Documents/GitHub/Capstone-Project-1/ZipcodeIncome.csv',)
df1.describe()
df1

         Zip  Median    Mean     Pop
0       1001  56,663  66,688  16,445
1       1002  49,853  75,063  28,069
2       1003  28,462  35,121   8,491
3       1005  75,423  82,442   4,798
4       1007  79,076  85,802  12,962
5       1008  63,980  78,391   1,244
6       1009  51,452  66,737     889
7       1010  75,625  80,919   3,340
8       1011  63,476  77,443   1,323
9       1012  58,750  74,722     677
10      1013  36,578  46,179  22,907
11      1020  50,058  58,516  29,626
12      1022  50,440  60,797   2,124
13      1026  60,320  71,505   1,052
14      1027  58,573  66,613  17,452
15      1028  80,252  94,891  14,143
16      1029  62,955  97,075     663
17      1030  71,106  81,727  11,702
18      1031  61,250  76,417   1,192
19      1032  67,692  79,796     498
20      1034  63,980  78,391   1,910
21      1035  69,911  73,973   4,801
22      1036  78,869  95,493   5,089
23      1037  61,250  76,417     627
24      1038  53,939  72,430   2,557
25      1039  66,284  78,497   1,291
26      1040  35,549  43,615  39,827
27      1050  62,097  70,566   2,380
28      1053  60,477  77,611   1,720
29      1054  67,831  86,678   1,656
...      ...     ...     ...     ...
32604  99785  36,213  46,477     388
32605  99788  24,408  35,141      69
32606  99789  65,556  71,893     402
32607  99790  48,839  54,748      20
32608  99791  65,556  71,893     237
32609  99801  75,577  89,085  29,164
32610  99820  43,786  54,330     479
32611  99824  73,846  90,878   2,111
32612  99825  43,786  54,330     120
32613  99826  43,786  54,330     442
32614  99827  47,811  64,099   2,602
32615  99829  43,786  54,330     777
32616  99830  62,317  73,267     561
32617  99832  43,786  54,330     104
32618  99833  62,317  73,267   3,202
32619  99835  62,473  73,070   8,880
32620  99836  62,317  73,267      52
32621  99840  73,500  93,822     968
32622  99841  43,786  54,330     133
32623  99901  62,507  72,490  13,508
32624  99903  50,389  69,595      31
32625  99918  41,815  55,501     231
32626  99919  41,815  55,501     531
32627  99921  48,524  62,025   1,920
32628  99922  41,815  55,501     384
32629  99923  43,625  42,895      87
32630  99925  50,357  63,808     819
32631  99926  44,063  51,660   1,460
32632  99927  41,815  55,501      94
32633  99929  50,389  69,595   2,338

[32634 rows x 4 columns]

In [23]:
#inspecting data set
print(df1.head())

    Zip  Median    Mean     Pop
0  1001  56,663  66,688  16,445
1  1002  49,853  75,063  28,069
2  1003  28,462  35,121   8,491
3  1005  75,423  82,442   4,798
4  1007  79,076  85,802  12,962

In [24]:
df1.dtypes

Zip        int64
Median    object
Mean      object
Pop       object
dtype: object

In [62]:
#assign Mean
Mean = df1.iloc[:,[2]]

In [106]:
#assign Median
Median = df1.iloc[:,[1]]
Zip = df1.iloc[:,[0]]
Pop = df1.iloc[:,[3]]

In [107]:
#convert all to string
strMean = str(Mean)
strMedian = str(Median)
strZip = str(df1['Zip'])
strPop = str(Pop)

In [108]:
#take out commas
sMean = strMean.replace(',', '')
sMedian = strMedian.replace(',', '')
sPop = strPop.replace(',', '')

In [118]:
String str = "1234567890";
int fullInt = Integer.parseInt(str);
String first4char = str.substring(0,4);
int intForFirst4Char = Integer.parseInt(first4char);